@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner2.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bienvenido al Programa de Cotizaciones.
                    
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Taller Cotizaciones - Ingeniería de Software I</h2>
        Programa hecho para guardar Clientes y Crear Cotizaciones que organiza Servicios.
        Nombre: Joaquín Solano Araya
    </div>
</div>
