@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Cotizacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NReferencia" class="control-label"></label>
                <input asp-for="NReferencia" class="form-control" />
                <span asp-validation-for="NReferencia" class="text-danger"></span>
            </div>
            <!--div class="form-group">
                <label asp-for="TotalNeto" class="control-label"></label>
                <input asp-for="TotalNeto" class="form-control" />
                <span asp-validation-for="TotalNeto" class="text-danger"></span>
            </div-->
            <!--div class="form-group">
                <label asp-for="Impuesto" class="control-label"></label>
                <input asp-for="Impuesto" class="form-control" />
                <span asp-validation-for="Impuesto" class="text-danger"></span>
            </div-->
            <!--div class="form-group">
                <label asp-for="TotalCotizacion" class="control-label"></label>
                <input asp-for="TotalCotizacion" class="form-control" />
                <span asp-validation-for="TotalCotizacion" class="text-danger"></span>
            </div-->
            <div class="form-group">
                <label asp-for="FechaEmision" class="control-label"></label>
                <input asp-for="FechaEmision" class="form-control" />
                <span asp-validation-for="FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
